.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-pack: start;
  padding: 20px 10px;
  background: dimgrey;
  color: aliceblue;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

.header header {
  width: 90%;
}
